<header>
    <nav class="navbar">
      <div class="logo">
        <a href="/home"><img src="/public/images/logo_dark.png" alt="ServiceEasy Logo"></a>
      </div>
      <ul class="nav-links">
        {{#if user}}
          <li><a href="/dashboard">DASHBOARD</a></li>
        {{/if}}
        
        <li><a href="/stores">FIND STORES NEAR ME</a></li>
        <li><a href="/repair">TRACK REPAIR</a></li>
        
        {{#unless user}}
          {{#unless onLoginPage}}
            <li><a href="/login">LOGIN</a></li>
          {{/unless}}

          {{#unless onSignupPage}}
            <li><a href="/signup">SIGN UP</a></li>
           {{/unless}}
      {{/unless}}

      {{#if user}}
        <li><a href="/logout">LOGOUT</a></li>
      {{/if}}
      </ul>
    </nav>
      <div id="user-data" data-user='{{{json user}}}'></div>
</header>
