<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | My Website</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="{{cssPath}}" />
</head>

<body>
    {{> _header}}
    <main>
        {{{body}}}
    </main>
    {{> _footer}}
    <script src="/public/js/index.js"></script>
</body>

</html>