/* Main Section */
.signup-form {
  text-align: center;
  margin: auto auto;
  width: 100%;
  max-width: 600px;
}

.heading-secondary {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 400;
}

.form__label{
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  text-align:left;
  display: block;
  margin: 0 auto 10px 15px;
}

/* Form Box */
.form-box {
  background-color: #F7F7F7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 40px auto;
}

/* Input Fields */
.form__input {
  width: 90%;
  padding: 10px;
  margin: 0 auto 20px auto;
  border: 1px solid #DCDDE1;
  border-radius: 30px;
  font-size: 14px;
  background-color: #FFFFFF;
  transition: border 0.3s ease;
  display: block;
}

.form__input:focus {
  outline: none;
  border-color: #2C3E50;
  box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
}

/* Button */
.submit-button {
  width: 40%;
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: #2C3E50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: lighter;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background-color: #34495E;
}

/* Sign-Up Link */
.switch-link {
  margin-top: 20px;
}

.switch-link a {
  font-weight: bold;
  text-decoration: underline;
  color: #2C3E50;
}