body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  color: #444;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #333; /* Same background as header */
  color: white; /* Same text color as header */
  padding: 2rem 30px; /* Increase padding for better spacing */
  border-top: 2px solid #444; /* Same border as header */
}

.footer__logo img {
  height: 40px;
}

.footer__nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.footer__nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.footer__nav a:hover {
  color: #84fab0; /* Same hover effect as header */
}

.footer__copyright {
  font-size: 0.9rem;
  color: #ccc; /* Lighter text color for copyright */
}

/* Error container */
.error-container {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e74c3c;
  background-color: #f9e7e7;
  border-radius: 5px;
}

.error-messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
}

/* Header */
header {
  background-color: #333;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #444;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

header .left {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

header .right {
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

header a:hover {
  color: #4caf50;
}

header .new-request-btn,
header .track-order-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

header .new-request-btn:hover,
header .track-order-btn:hover {
  background-color: #45a049;
}

header p {
  margin: 0;
}

header .logout-btn {
  margin-left: 10px;
}
