<main class="main">
    <div class="login-form" id="login-form">
        <h2 class="heading-secondary">WELCOME BACK!</h2>

        {{#if errors}}
        <div class="error-messages">
            {{#each errors}}
            <div class="error-message font-italic">{{this}}</div>
            {{/each}}
        </div>
        {{/if}}

        <div class="form-box">
            <form class="form form--login" action="/login" method="POST">
                <div class="form__group">
                    <label class="form__label" for="email">E-mail</label>
                    <input class="form__input" id="email" name="email" type="email" placeholder="you@example.com"
                        required />
                </div>
                <div class="form__group">
                    <label class="form__label" for="password">Password</label>
                    <input class="form__input" id="password" name="password" type="password" placeholder="••••••••"
                        required minlength="8" />
                </div>
                <div class="form__group">
                    <button class="submit-button" type="submit">LOG IN</button>
                </div>
                <p class="switch-link">Don't have an account? <a href="/signup">Sign up</a></p>
            </form>
        </div>
    </div>
</main>